body {
  background: url(https://res.cloudinary.com/vivelafrans/image/upload/v1566551294/memphis-colorful_naukoc.png);
}

.section {
  margin-top: $margin-top-section;
  margin-bottom: $padding-bottom-section;
  padding-top: $padding-top-section;
  padding-bottom: $padding-bottom-section;
}
