#db-cards {
  background: linear-gradient(135deg, #6e8efb, #a777e3);
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  padding: 10px;
  padding-bottom: 30px;
  margin-bottom: 50px;
}

.box-header {
  width: 100%;
}

.center {
  text-align: center;
}

#sub_header{
  padding-bottom: 30px;
}

#cutie_description {
  padding-left: 40px;
}

#header {
  font-weight: bold;
  padding-bottom: 30px;
}

.color {
  background: white;
}

.grid_pic {
  padding-left: 30px;
  padding-right: 30px;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
}

.green {
  font-weight: bold;
  color: green;
}

.red {
  font-weight: bold;
  color: red;
}

.fa-check-circle {
  font-size: 5em;
  color: green;
  margin-left: 40px;
}

.fa-times-circle {
  font-size: 5em;
  color: red;
  margin-left: 40px;
}

.fa-question-circle {
  font-size: 5em;
  color: grey;
  margin-left: 40px;
}
