.show-cutie-title-wrapper {
  text-align: center;

  .show-cutie-title {
    // WHATEVER CODE TO MAKE THIS INTO A nice box title
  }
}
// .show-cutie-body-wrapper {
//   display: flex;
//   justify-content: space-between;
//   margin-bottom: $margin-bottom-section;
//   p {
//     font-weight: lighter;
//   }
// }

.show-cutie-edit-delete-buttons {
  display: flex;
  justify-content: flex-end;
  margin-top: 5px;
}

.big-cutie-card {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  padding: 20px;
  margin-bottom: 20px;
}

.show-cutie-body-and-form {
  width: 90%;
  img {
    width: 100%;
  }
}
