<!-- <h1>Rent a Cutie!</h1>
<p>The app that allows you to rent cute animals and pick up any girl in the park!</p>
<img src="https://images.unsplash.com/photo-1529778873920-4da4926a72c2?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=676&q=80" alt="sweet kitten"> -->

<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1559564207-09c99dc78a70?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9);">
  <div class="container">
    <h1>Rent a Cutie!</h1>
    <p>The app that allows you to rent cute animals and brighten your day!</p>
    <!-- <a class="btn btn-secondary" href="#">Come play with us!</a> -->
  </div>
</div>
<div class="container">
  <div class="btn-body">
    <a href="#" class="btn-awesome" data-title="Come play with us!"></a>
  </div>
</div>


<script>
  const docStyle = document.documentElement.style
  const aElem = document.querySelector('.btn-awesome')
  const boundingClientRect = aElem.getBoundingClientRect()

  aElem.onmousemove = function(e) {

    const x = e.clientX - boundingClientRect.left
    const y = e.clientY - boundingClientRect.top

    const xc = boundingClientRect.width/2
    const yc = boundingClientRect.height/2

    const dx = x - xc
    const dy = y - yc

    docStyle.setProperty('--rx', `${ dy/-1 }deg`)
    docStyle.setProperty('--ry', `${ dx/10 }deg`)

  }

  aElem.onmouseleave = function(e) {

    docStyle.setProperty('--ty', '0')
    docStyle.setProperty('--rx', '0')
    docStyle.setProperty('--ry', '0')

  }

  aElem.onmousedown = function(e) {

    docStyle.setProperty('--tz', '-25px')

  }

  document.querySelector('.btn-body').onmouseup = function(e) {

    docStyle.setProperty('--tz', '-12px')

  }
</script>
