.show-cutie-title-wrapper {
  text-align: center;

  .show-cutie-title {
    // WHATEVER CODE TO MAKE THIS INTO A nice box title
  }
}
.show-cutie-body-wrapper {
  display: flex;
  justify-content: space-between;
}
